<h1>Form to create a new cocktail</h1>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: false } %>
  <%#= f.input :photo, as: :file %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
  
