<div class="banner-new-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.75)), url(https://res.cloudinary.com/deyqjsowe/image/upload/v1589527146/adam-wilson-6UIonphZA5o-unsplash_vk4ts6.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-2"></div>
      <div class="col-12 col-lg-8 form-over-banner">
        <h4 class="yellow-font bold-font text-center my-3">Add a New Cocktail</h4>
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name,  class:"yellow-font", label: "Name of New Cocktail" %>
          <%= f.input :description, label: "Cocktail Description" %>
          <%#= f.input :photo, as: :file, label: "Upload a Photo", input_html: { class: 'hidden'} %>
          <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'my-3 btn upload-photo'}, label: 'Upload a Photo' %>

          <%#= f.input :photo, as: :file %>
          <%= f.button :submit, class: 'btn btn-cocktail' %>
        <% end %>
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>


  </div>
</div>

  