<div class="container my-3">
  <div class="name">
    <h1 class="yellow-font bold-font"><%= @cocktail.name %></h1>
  </div>
  
  <div class="">
    <div class="row">
      <div class="col-12 col-lg-4 photo-and-description-div">
        <%= image_tag @cocktail.photo, class: "resized-photo", alt: "photo of cocktail" %>
        <h5 class="yellow-font my-3"><%= @cocktail.description %></h5>
      </div>

      <div class="col-12 col-lg-8 ingredients-div">
        <h4 class="yellow-font bold-font text-center">Ingredients</h4>
        <% @cocktail.doses.each do |dose| %>
        <div class="d-flex justify-content-between lighter-background m-3">
            <div><h6 class="yellow-font m-3"><%= dose.ingredient.name %>&nbsp;&nbsp;&nbsp;&nbsp; (<%= dose.description %>)</h6></div>
            <div><%= link_to dose_path(dose), method: :delete,  class:"", data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-minus-circle yellow-font m-3"></i>
              <% end %>
            </div>  
        </div>
        <% end %>
        



      </div>
    </div>


  </div>

</div>








<%#= link_to "Add an Ingredient", new_cocktail_dose_path(@cocktail)  %>
<%#= image_tag @cocktail.photo, alt: "alttext" %>
<br>
<br>
<br>
<br>

<%= render "doses/new", cocktail: @cocktail, dose: @dose %>

<% @cocktail.reviews.each do |review| %>
  <p class="yellow-font"><%= review.rating %> Stars</p>
  <p class="yellow-font"><%= review.comment %>
    <%= link_to review_path(review),  class:"yellow-font", method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-minus-circle yellow-font"></i>
    <% end %>
  </p>
<% end %>

<%= render "reviews/new", cocktail: @cocktail, review: @review %>
