<div class="container my-3">
  
  <div class="">
    <div class="row">
      <div class="col-12 col-lg-5 photo-and-description-div">
        <div class="name">
          <h1 class="yellow-font bold-font"><%= @cocktail.name %></h1>
        </div>
        <%= image_tag @cocktail.photo, class: "resized-photo", alt: "photo of cocktail" %>
        <h5 class="yellow-font my-3 text-center"><%= @cocktail.description %></h5>
        <div class="text-center">
          <%= link_to "Delete this Cocktail", cocktail_path(@cocktail), method: :delete,  class:"btn btn-cocktail", data: { confirm: "Are you sure?" } %>
        </div>  
      </div>

      <div class="col-12 col-lg-7 ingredients-div">
        <h4 class="yellow-font bold-font text-center ingredient-h4">Ingredients</h4>
        <% @cocktail.doses.each do |dose| %>
        <div class="d-flex justify-content-between lighter-background m-3">
            <div><h6 class="yellow-font m-3"><%= dose.ingredient.name %>&nbsp;&nbsp;&nbsp;&nbsp; (<%= dose.description %>)</h6></div>
            <div><%= link_to dose_path(dose), method: :delete,  class:"", data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-minus-circle yellow-font m-3"></i>
              <% end %>
            </div>  
        </div>
        <% end %>
        <div class="mx-3 ingredients-form">
          <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="row">
      <div class="col-12 col-lg-2"></div>
      <div class="col-12 col-lg-8 reviews-div">
        <div>
          <h4 class="yellow-font bold-font text-center ingredient-h4">Comments & Reviews</h4>
        <% @cocktail.reviews.each do |review| %>
        <div class="d-flex justify-content-center m-3 darker-background">
            <div><h4 class="yellow-font m-3"><%= review.comment %></h4></div>
            <%= link_to review_path(review),  class:"yellow-font m-3", method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-minus-circle yellow-font"></i>
            <% end %>
        </div>
        <% end %>
        </div>

       <div class="my-3">
          <%= render "reviews/new", cocktail: @cocktail, review: @review %>
        </div>
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>
</div>
