<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rails Cocktail Recipes</title>
    <link rel="shortcut icon" type="image/jpg" href="https://res.cloudinary.com/deyqjsowe/image/upload/v1592208600/Photography_qtz3tc.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cocktail-navbar">
      <div>
        <%= link_to root_path do %>
          <%= image_tag "https://res.cloudinary.com/deyqjsowe/image/upload/v1592208600/Photography_qtz3tc.png", class: "cocktail-logo" %>
        <% end %>
      </div>
          <!-- SEARCH BAR WILL GO HERE with no margins or padding...-->
      <div>
        <%= form_tag cocktails_path, class: "", method: :get do %>
        <div class="d-flex">
          <%= text_field_tag :query,
            params[:query],
            class: "nav-search-field", placeholder: "Find a Cocktail" %>
          <%= submit_tag "Search", class: "btn btn-cocktail-search" %>
        <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
